# ignore any file without file extension
# if you need add such file use git add -f xxx
# * tells git to ignore everything.
# !*/ then unignores anything that is a directory. This is crucial.
# !*.* unignores all files with an extension.
*
!*/
!*.*

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.idea/
/proto/t.msglist.proto
